.form-container {
    display: flex;
    justify-content: center; /* Horizontally center the form */
    align-items: center; /* Vertically center the form */
    height: 100vh; /* Full height of the viewport */
     /* Optional: Add a background color to the page */
  }
  
  .form {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 30px;
    background: linear-gradient(to bottom,#8635d4 , aqua);
    width: 320px;
    max-width: 600px;
  }
.label{
    color: aqua;
    font-size: x-large;
}
.label,.input{
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 8px;
}
h1{
    text-align: center;
    color: aqua;

}
#submit{
    background-color: blue;
    color: aqua;
    border-radius: 10px;
}
/* body{
    background-image:url("../images/16619825-purple-clouds-space-moon-desktop.jpg");
  } */
  body {
    background-color:black;
}
img{
    height: 20xp;
    width: 20px;
}
.google_button{
    display: flex;
    border: 2px solid black;
    background-color: black;
    border-radius: 8px;
    width: 15em;
    
}
.input{
    width: 100%;
}
.lastRow{
    display: flex;
    gap: 4px;
}