.form-container {
    display: flex;
    justify-content: center; /* Horizontally center the form */
    align-items: center; /* Vertically center the form */
    height: 100vh; /* Full height of the viewport */
     /* Optional: Add a background color to the page */
    
  }
  
  .form {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 30px;
    background: linear-gradient(to bottom,#8635d4 , aqua);
    width: 310px;
    /* max-width: 600px; */
   
  }
.label{
    color: white;
    font-size: large;
}
.label,.input{
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 8px;
}
h1{
    text-align: center;
    color: aqua;

}
#submit{
    background-color: blue;
    color: aqua;
    border-radius: 10px;
}
/* body{
    background-image:url("../images/16619825-purple-clouds-space-moon-desktop.jpg");
  } */
  body {
    background-color:black;
}
img{
    height: 20px;
    width: 20px;
}
.google_button{
    display: flex;
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
    width: 17.5em;
    
}
.input{
    width: 20em;
}
.lastRow{
    display: flex;
    gap: 4px;
}
.guest{
    font-size: 12px !important;
}
@media screen and (max-width:380px) {
    .form{
        width: 270px;
        padding: 25px;
    }
}
@media screen and (max-width:330px) {
    .form{
        width: 260px;
        padding: 25px;
    }
}

@media screen and (max-width:770px) {
    .form{
        font-size: medium;
        width: 300px;
    }
    .guest{
     font-size: 12px !important;
    }
 }
 @media screen and (max-width:430px) {
    .label{
        font-size: 14px;
    }
    
 }
 @media screen  and (max-width:380px) {
    .guest{
        font-size: 8.5px !important;
    }
 }
 @media screen  and (max-width:330px) {
    .guest{
        font-size: 7px !important;
    }
    img{
        height: 15px;
        width: 15px;
    }
    .form{
        padding: 5px;
    }
 }