.form-container {
    display: flex;
    justify-content: center; /* Horizontally center the form */
    align-items: center; /* Vertically center the form */
    height: 100vh; /* Full height of the viewport */
    
     /* Optional: Add a background color to the page */
    
  }
  
  .form {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 50px;
    /* background: linear-gradient(to bottom,#8635d4 , aqua); */
    background-color: black;
    width: 310px;
    /* max-width: 600px; */
    box-shadow: 2px 2px 10px aqua;

   
  }
.label{
    
    font-size: larger;
    font-weight: bolder;
}
.input{
    background-color: #f0f0f0;
    width: 18em !important;
}
.label,.input{
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 8px;
    
}
h1{
    text-align: center;
    color: aqua;

}
/* .loginTop{
    display: flex;
    gap: 1em;
} */
#submit{

    
   
    border-radius: 10px;
}
/* body{
    background-image:url("../images/16619825-purple-clouds-space-moon-desktop.jpg");
  } */
  /* body {
background-color:${({theme})=> theme.bgLight};
} */
img{
    height: 20px;
    width: 20px;
}
.google_button{
    display: flex;
    border: 2px solid black;
    background-color:white;
    border-radius: 10px;
    width: 18em;
    
}
.input{
    width: 20em;
}
.lastRow{
    display: flex;
    gap: 4px;
    margin-top: 5px;
}
.guest{
    font-size: 12px !important;
}
@media screen and (max-width:380px) {
    .form{
        width: 270px;
        padding: 25px;
    }
}
@media screen and (max-width:330px) {
    .form{
        width: 260px;
        padding: 25px;
    }
}

@media screen and (max-width:770px) {
    .form{
        font-size: medium;
        width: 300px;
    }
    .guest{
     font-size: 12px !important;
    }
 }
 @media screen and (max-width:430px) {
    .label{
        font-size: 14px;
    }
    
 }
 @media screen  and (max-width:380px) {
    .guest{
        font-size: 8.5px !important;
    }
 }
 @media screen  and (max-width:330px) {
    .guest{
        font-size: 7px !important;
    }
    img{
        height: 15px;
        width: 15px;
    }
    .form{
        padding: 5px;
    }
 }